#grad {
  background-image: linear-gradient(to right, rgba(248, 198, 198, 0), #b5cc07);
}


.results{
  font-family: Arial;
  font-size: 10px;
  text-align: auto; 
}

.texto_botones {
  margin-left: 70px;
  font-family:Arial;
  font-size:20px;
  text-align: center;
  color:black;
  padding:14px 56px;
}

.boton1 {
  width:18%;
  height: 8%;
  margin-left: 10px;
  margin-top: 650px;
  left:40px;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:32px;
  border:2px solid #9aae04;
  margin-left: 70px;
  font-family:Arial;
  font-size:20px;
  text-align: center;
  color:black;
  padding:14px 56px;
}

.boton1:hover{
  color: black;
  background-color: #515c02;
}

.boton2 {
  width:18%;
  height: 8%;
  margin-left: 40px;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:32px;
  border:2px solid #9aae04;
  font-family:Arial;
  font-size:20px;
  text-align: center;
  color:black;
  padding:14px 56px;
}

.boton2:hover{
  color: black;
  background-color: #515c02;
}

.boton3 {
  widows: 18px;
  height: 8%;
  margin-top: 14px;
  margin-left: 48px;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:32px;
  border:2px solid #9aae04;
  font-family:Arial;
  font-size:20px;
  text-align: center;
  color:black;
  padding:14px 56px;
}

.boton3:hover{
  color: black;
  background-color: #515c02;
}

.boton4 {
  width:20%;
  height: 8%;
  margin-left: 50px;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:32px;
  border:2px solid #9aae04;
  font-family:Arial;
  font-size:20px;
  text-align: center;
  color:black;
  padding:14px 56px;
  display: inline-block;
}

.boton4:hover{
  color: black;
  background-color: #515c02;
}

.embed-border {
    border: 4px solid #515c02;
    border-radius: 10px;
    box-sizing: border-box; /* prevents extra width from being added */
}

/* aspect ratio and positioning for responsive video */
.embed-responsive {
  border: 4px solid #515c02;
  border-radius: 10px;
  box-sizing: border-box; /* prevents extra width from being added */
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  position: absolute;
  top: 0;
  left: 0;
  /*width: 100%;
  height: 100%;*/
}

.logo{
  height: 100px;
  width: 190px;
  margin-top: 470px;
  margin-left: 100px;
}

.boxTop {
  width:40%;
  height:5%;
  margin:auto;
  margin-top: auto;
  margin-right: auto;
  border-radius: 41px 41px 41px 41px;
  -moz-border-radius: 41px 41px 41px 41px;
  -webkit-border-radius: 41px 41px 41px 41px;
  border: 3px solid #515c02;
}

.boxTop h1{    
  text-align:center;
  position:relative;
  margin-top: 3px;
  margin-right: 2px;
  font-family: Arial;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#chart_wrap {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow:hidden;
}

#piechart {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:500px;
}